RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://domainjunkie.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://domainjunkie.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://domainjunkie.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://domainjunkie.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dte.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dte.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dudethatserin.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://erinskidds.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://erinskidds.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://erinskidds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://erinskidds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helloerin.blog/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helloerin.blog$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helloerin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helloerin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://riverandreef.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://riverandreef.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://riverandreef.store/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://riverandreef.store$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techblogger.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techblogger.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techblogger.space/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://techblogger.space$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.domainjunkie.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.domainjunkie.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.domainjunkie.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.domainjunkie.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dte.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dte.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dudethatserin.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.erinskidds.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.erinskidds.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.erinskidds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.erinskidds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helloerin.blog/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helloerin.blog$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helloerin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helloerin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.riverandreef.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.riverandreef.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.riverandreef.store/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.riverandreef.store$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techblogger.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techblogger.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techblogger.space/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.techblogger.space$      [NC]
RewriteCond %{HTTP_REFERER} !^https://codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://domainjunkie.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://domainjunkie.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://domainjunkie.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://domainjunkie.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dte.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dte.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dudethatserin.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://erinskidds.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://erinskidds.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://erinskidds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://erinskidds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helloerin.blog/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helloerin.blog$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helloerin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helloerin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://riverandreef.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://riverandreef.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://riverandreef.store/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://riverandreef.store$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techblogger.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techblogger.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techblogger.space/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://techblogger.space$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.domainjunkie.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.domainjunkie.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.domainjunkie.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.domainjunkie.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dte.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dte.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dudethatserin.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.erinskidds.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.erinskidds.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.erinskidds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.erinskidds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helloerin.blog/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helloerin.blog$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helloerin.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helloerin.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.riverandreef.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.riverandreef.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.riverandreef.store/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.riverandreef.store$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techblogger.codinghelp.site/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techblogger.codinghelp.site$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techblogger.space/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.techblogger.space$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

