:root {
    --sapphire-blue: hsla(206, 51%, 37%, 1);
    --celadon-blue: hsla(203, 48%, 44%, 1);
    --gainsboro: hsla(90, 8%, 85%, 1);
    --darkest-indigo-dye: rgb(14, 39, 54);
    --indigo-dye: hsla(202, 61%, 22%, 1);
    --dark-sky-blue: hsla(194, 52%, 67%, 1);
    --dark-indigo-dye: hsla(210, 61%, 22%, 1);
    --light-sky-blue: hsla(190, 52%, 67%, 1);
    --green: #64ffda;
    --white: #e6f1ff;
    --slate: #495670;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --black: #010101;
    --font-sans: "Oswald", sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.55, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
    .index-content,
    .about-content, #about {
      vertical-align: middle;
      padding: 0px;
      max-width: 800px;
      position: absolute;
      top: 20%;
    }

    .about-content {
        font-size: var(--fz-xs)
    }

    .right-sidebar {
        position: fixed;
        bottom: 0;
        right: 0;
        transform-origin: 0 0;
        width: 5px;
        height: 360px;
        font-size: 28px;
        color: #83d4c5;
        transform: rotate(90deg);
      }

      button.contact {
        border: 2px solid #83d4c5;
        color: #83d4c5;
        background-color: transparent;
        font-size: 20px;
        display: block;
        border-radius: 5px;
    }


    button.contact:hover {
        background-color: #83d4c5;
        color: #fff;
        border: 2px solid #83d4c5;
        cursor: pointer;
        border-radius: 5px;
    }
