    .index-content,
    .about-content, #about {
      width: 500px;
      margin: 0 auto;
      /* position: absolute;
      top: 20%;
      left: -5%; */
    }

    nav {
      margin: 0;
      display: flex;
      justify-content: right;
      margin-right: 10px;
    }

    .logo {
      margin-left: 10px;
    }

    label {
      display: block;
    }

    .menu {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 30px;
    }

    .checkbox4:checked + label > .hamburger4 > .bar1 {
      top: 13.5px;
      background-color: transparent;
      z-index: 999;
      cursor: pointer;
    }

    .checkbox4:checked + label > .hamburger4 > .bar2 {
      left: 0px;
      width: 30px;
      transform: rotate(45deg);
      z-index: 999;
      cursor: pointer;
    }

    .checkbox4:checked + label > .hamburger4 > .bar3 {
      left: 0;
      width: 30px;
      transform: rotate(-45deg);
      z-index: 999;
      cursor: pointer;
    }

    .checkbox4:checked + label > .hamburger4 > .bar4 {
      background-color: transparent;
      z-index: 999;
      cursor: pointer;
    }

    .checkbox4:checked + label > .hamburger4 > .bar5 {
      bottom: 13.5px;
      background-color: transparent;
      z-index: 999;
      cursor: pointer;
    }

    .checkbox4:checked ~ .menu {
      background-color: #000;
      display: block;
      text-align: left;
      width: 100%;
      padding: 0;
      cursor: pointer;
    }

    .first-secion,
    .second-section,
    .third-section {
      width: 400px;
    }

    .menu a, .menu a:active, .menu a:visited, .menu a:link {
      margin-top: 50px;
      display: block;
      width: 70%;
      line-height: 1.5rem;
      cursor: pointer;
    }

    nav a.home {
      display: block;
      width: 100%;
      cursor: pointer;
    }

    nav button {
      margin-left: 10px;
    }

    .logo a {
      z-index: 1;
      cursor: pointer;
    }

    .name {
        animation: typing 2s steps(60, end), blink-caret 1s step-end infinite;
    }
